*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/*
*.jks

#SENSITIVE FILES
app/src/main/assets/config.properties
keystore.properties
app/fabric.properties
1@1keystore.jks
uploadKey.json
